#tudo{
    background-color: #ececec;
    padding-bottom: 100px;
}

.adm{
    height: 40px;
    width: 150px;
    background-color: #EB9839;
    color: #fff;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
}

.texto{
    font-size: 60px;
    display: flex;
    margin-left: 25%;
    font-weight: 600 !important;
    @include mq(boot-md,max){
        display: block;
        margin-left: 0;
        font-size: 40px;
    }

    .cor{
        color: #EB9839;
        padding-left: 0.5rem;
    }
}

.search-form {
    background: transparent;
    border-radius: 6px;
    padding: 30px;
    padding-right: 45px;

    .search-input {
        position: relative;
        a {
            width: 100%;
            display: block;
            background: #fff;
            position: relative;
            color: #0D3F85;
            padding-left: 25px;
            height: 55px;
            padding-top: 15px;
            appearance: none;
            font-size: 18px;
            text-decoration: none;
            text-align: left;
        }

        input {
            width: 100%;
            display: block;
            background: #fff;
            position: relative;
            color: #0D3F85;
            padding-left: 25px;
            height: 55px;
            appearance: none;
            font-size: 18px;
            text-decoration: none;
            text-align: left;
            border: none;

            &::placeholder{
                color:#0D3F85;
            }
        }

        label {
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            color: #EB9839;
        }

        select {
            width: 100%;
            background: #fff;
            position: relative;
            color: #0D3F85;
            padding-left: 25px;
            height: 55px;
            appearance: none;
            font-size: 18px;
        }
        .compras {
            width: 100%;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 8px 0px 0px 8px;
            color: #fff;
            padding: 0 25px;
            height: 55px;
            appearance: none;
            font-size: 18px;
        }

        &::after{
            content: "\f078";
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            font-size: 20px;
            width: 20%;
            height: 100%;
            background: transparent;
            top: 0;
            color:#EB9839;
            padding-top: 15px;
            right: calc(50% - 45%);
            display: inline;
        }


    }

    button {
        width: 100%;
        background-color: #EB9839;
        color: #fff;
        font-size: 20px;
        border-radius: 0px 8px 8px 0px;
        height: 55px;

        .btn{
            padding: 0;
        }

        &.btn:hover {
            background: $white;
            color: #0D3F85;
        }

        i {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.botoes{
    margin-left: calc(50% - 25%);
    display: flex;
    @include mq(boot-md,max){
        margin-left: 0;
        flex-direction: column;
        gap: 10px;
    }

    .botao1{
        
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff !important;
       padding: 0 30px;
        height: 55px;
        line-height: 55px;
        vertical-align: middle;
        appearance: none;
        font-size: 16px;
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
        text-align: center;
        text-decoration: none;
      

        &:hover{
            background: #EB9839;
            border: 1px solid #EB9839;
        }
    }
    .botao2{
       
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff  !important;
       
        height: 55px;
        appearance: none;
        font-size: 16px;
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
        text-align: center;
       
        &::placeholder{
            color:#fff;
        }
    }
}

.textotitle{
    position: relative;
    font-size: 35px;
    color: #0d3f85;
    font-weight: 600;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;

    .cor{
        color: #EB9839;
        padding-left: 0.5rem;
    }

    &::after{
        content: "";
        position: absolute;
        width: 90%;
        height: 100%;
        background: transparent;
        top: 0;
        left: calc(50% - 45%);
        border-bottom: 2px solid #0d3f85;
        @include mq(boot-md,max){
            border-bottom: none;
        }
    }
}

.textotitle2{
    position: relative;
    font-size: 35px;
    color: #0d3f85;
    font-weight: 600;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;

    .cor{
        color: #EB9839;
        padding-left: 0.5rem;
    }
}