.navbar {
    width: 100%;
    height: 50px;
    z-index: 999;
    padding: 0;
    background-color: #0D3F85;
    transition: all 0.3s ease;

    .menu{
        width: 100%;
        height: 100%;
        margin-bottom: 0;

        li{
            text-align: center;
            height: 100%;
            position: relative;
            padding: 0;
            

            a{
                display: block;
                color: #fff;
                text-decoration: none;
                position: relative;
                font-size: 18px;
                width: 100% !important;
                height: 100%;
                padding-top: 0.75rem !important;

                &:hover::after,
                &.active::after{
                        content: "";
                        position: absolute;
                        width: 95%;
                        height: 95%;
                        left: 2.5%;
                        top: 2.5%;
                        z-index: -1;
                        background-color: #EB9839 ;
                        border-radius: 25px;

                        @include mq(boot-md,max){
                            background: none; 
                        }
                }
    
            }

            .container-sub {
                display: none;
                opacity: 0;
                position: absolute;
                background: #0D3F85;
                top: 100%;
                left: 0;
                padding: 0;
                z-index: 100;
                border-radius: 0 0 8px 8px;
                box-shadow: 0 4px 4px rgba(0,0,0,.25);
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                a{
                    padding: 10px !important;
                }
            }

            &:hover .container-sub {
                display: block;
                opacity: 1;
                transition: 0.3s all linear;
            }
        }
        .iconSearch{
            color: #EB9839;
            font-size: 30px;
            padding-top: 0.25rem !important;
        }
    }

}


